* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  
  background: #ECF2FF;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}
h1{
  text-align: center;
  color: #0F6292;
  margin-top: 90px;
}
nav {
  background-color: #0F6292;
  color: #ECF2FF;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

nav h1 {
  color: #ECF2FF;
  font-family: "McLaren", cursive;
 
  font-weight: 200;
}
.navbar{
  background-color: #0F6292;
  color: #ECF2FF;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
}
.nav-item{
  margin:auto 20px ;
}
.nav-link,.navbar-brand {
  color: #ECF2FF !important;
  }
footer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.loginpage{
  display: flex;
  justify-content:space-evenly;
  padding:50px 20px;
  margin: 150px auto;
  margin-top: 70px;
  width: 440px;
  background: #0f62921a;
  box-shadow: 0 1px 5px #0F6292;
}
.loginpage button{
  width: 115px;
  margin: 15px auto;
}

.note {
  background: #0f6292;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  text-align: left;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #0F6292;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #0f62921a;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #0F6292;
}
form.create-note input,
form.create-note textarea {
  background-color: #0f629200;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #0F6292;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.form-container{
  text-align: center;
  width: 300px;
  margin: 20px auto;
}
.form-container input{
  margin: 5px auto;
  padding: 5px;
}



.close-btn {
  position: relative;
  float: right;
  margin-right: 50px;
  color: #0F6292;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.edit-btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #0F6292;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

@media only screen and (min-width:321px) and (max-width:768px) { 
  .navbar{
    width: 115%;
  }
  .container{
  
    width: 80%;
  }
  form.create-note{
    width: 80%;
  }
   .loginpage{
    max-width: 95%;
   }
   .note{
    width: 100%;
    margin: 10px auto;
   }
    }
    @media (min-width: 992px){
      .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
    }
   
    @media (min-width: 768px){
      .container, .container-md, .container-sm {
        max-width: 547px;
    }
    }
    @media (min-width: 1200px){
      .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    }
